global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend ch_native
    bind *:9000
    default_backend clickhouse_nodes

backend clickhouse_nodes
    balance leastconn
    server click1 click1:9000 check
    server click2 click2:9000 check
    server click3 click3:9000 check
    server click4 click4:9000 check

frontend ch_http
    bind *:8123
    mode http
    default_backend clickhouse_http

backend clickhouse_http
    mode http
    balance roundrobin
    server click1 click1:8123 check
    server click2 click2:8123 check
    server click3 click3:8123 check
    server click4 click4:8123 check
